.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #201F2B;

}
.login__title {
  height: 12rem;
  color: #fff;
  padding-top: 2rem;
}
.login__box{
  background-color: #fff;
  width: 27.87rem;
  height: 20rem;
  margin-top: -7rem;
  margin-bottom: 10rem;
  border-radius: 0.3rem;
  text-align: center;
}

.login__box__input {
  border: 0;
  width: 75%;
  height: 2.5rem;
  font-size: 0.88rem;
  margin-top: 1.5rem;
  color: #000;
  background-color: #DADADA;
  border-radius: 0.4rem;
  outline: none;
  text-align: right;
  font-family: cairo;
  padding-right: 1rem;

}

.login__box-button {
  border: 0;
  width: 75%;
  height: 3rem;
  font-size: 1rem;
  margin-top: 0.8rem;
  color: white;
  background-color: #201F2B;
  border-radius: 0.4rem;
  outline: none;
  font-family: cairo;
} 

.login__box__title{
  color: #201F2B;
}
