.card {
    width: 11rem;
    border-radius: 5px;
    height: 9rem;
    position: relative;
}

.card i {
    position: absolute;
    font-size: 6.5rem;
    color: #f0f8ff36;
    left: -1rem;
    top: -2.3rem;
}

.card__content {
    position: absolute;
    right: 0.2rem;
    bottom: 1.5rem;
    color: white;
}

.card__content-title{
    color: white;
    font-weight: bold;
}

.card__footer {
    background: #f6f5f554;
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}