.navbar{
    background-color: #201F2B;
    height: 65px;
    width: 1116px;
}
.controlBoard{
    width: fit-content;
    margin-left: 1000px;
    padding-top: 13px;
    color: #fdeeee;
    font-size: 16px;
    font-weight: 800;
}
.circle{
    margin-top: -33px;
    border-radius: 50px;
    text-align: center;
    height: 45px;
    line-height: 42px;
    margin-left: 40px;
    font-weight: 600;
    width: 45px;
    background-color: #88B0D6;
}