.filtercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width:75%

}
.addcustomer{
    margin-top: 1rem;
    margin-left: 3.5rem;
}
.filtercontainer__orderdate{
    display: flex;
    flex-direction: row; 
    width:50%
}
.filtercontainer__ordername{
    width:15rem;
    direction: rtl;
}
.table{
    margin-right: 10px;
}
.filtercontainer__orderdate-date{
    margin-left: 2rem;
}
