.container {
    position: relative;
    min-height: 100vh;
    background: black;
    width: 225px;
    float: right;
    
}
.sidebar{
    width: 14.11rem;
    position: absolute;
    top:0rem;
    right:0rem;
    padding-top: 1rem;
    color: white;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
}
.sidebar__header{
    position: absolute;
    top: 0rem;
    right: 4.5rem;
    color: white;
}
.sidebar__bar{
    margin-top: 5rem;
    margin-right: 2rem;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.sidebar button{
    font-size: 1.5rem;
    color: white;
    background-color: black;
}
 .sidebar__links{
    padding: .6rem .8rem .6rem 1.6rem;
    text-decoration: none;
    color: white;
}
.sidebar__dropdowncontainer{
    display: flex;
    flex-direction: column;
        margin-right: 23px;
        font-size: .7rem;
}
.hidden{
    display: none;
}
.block{
    display: flex;
}
.home{
    margin-right: -11px;
    margin-bottom: 11px

}

.lists{
    margin-right: -1px;
    margin-bottom: 11px;
    cursor: pointer;

}
