
.view-captain-orders{
  margin-right: 18rem;

}
.view-captain-orders-title{
  margin-top: 2rem;
  margin-bottom: 2.6rem;
  text-align: end;
  font-weight: bold;
  font-size: 1.2rem;
}
.view-captain .order-table{
  margin-left: -4rem;
}
.view-captain span{
  margin-left: 1rem;
  font-weight: bold;
}