.Home_navbar-and-header-container {
    display:flex;
    flex-direction:column;
}
.box1{
    margin-left: 42.5rem;
    margin-top: 2rem;
}

.box-two{
    margin-left: 26.5rem;
    margin-top: -9rem;
}
.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8rem;
    width: 68rem;
}

.box__error {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
