.box1{
    margin-left: 42.5rem;
    margin-top: 2rem;
}

.box-two{
    margin-left: 26.5rem;
    margin-top: -9rem;
}

.box-three{
    margin-left: 10.5rem;
    margin-top: -9rem;
}
.text-header{
margin-left: 20px;
}
